a {
  text-decoration: none;
}

p {
  font-size: 14pt;
}

a:visited {
  color: #6e6e6e;
}

img {
  width: 11rem;
}

div.center > a:visited {
  color: white;
}

div.white > a:visited {
  color: white;
}

.container {
  max-width: 1380px;
  margin: auto;
}

.row {
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-13 {
  position: relative;
  width: 100%;
}

.column-full {
  width: 100%;
}

.tiempos-normal {
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.tiempos-italic {
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.avenir {
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  font-weight: 500;
}

.gray {
  color: #6e6e6e;
}

.header-gray {
  color: #a0a0a0;
}

.white {
  color: white;
}

.get-started-anchor {
  background: #294465;
  height: 3.5rem;
  width: 12rem;
  padding-top: 12px;
  font-size: 16pt;
  border-radius: 3px;
  margin: auto;
}

.contact-us-anchor {
  background: #294465;
  height: 2.5rem;
  width: 1rem;
  padding: 10px 16px;
  border-radius: 3px;
  margin: auto;
}

.center-text {
  text-align: center;
}

.col-1 {
  flex-basis: 23%;
}

.col-2 {
  flex-basis: 65%;
}

.col-3 {
  flex-basis: 16%;
}

.col-4 {
  flex-basis: 11.5%;
}

.col-5 {
  flex-basis: 39%;
}

.col-6 {
  flex-basis: 24%;
}

.col-7 {
  flex-basis: 19%;
}

.col-8 {
  flex-basis: 40%;
}

.col-9 {
  flex-basis: 20%;
}

.col-10 {
  flex-basis: 11%;
}

.col-11 {
  flex-basis: 31%;
}

.col-12 {
  flex-basis: 53%;
}

.col-13 {
  flex-basis: 38.7%;
}

.col-14 {
  flex-basis: 1280px;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.true-center {
  justify-content: center;
  align-items: center;
}

.font-size-10 {
  font-size: 10pt;
}

.font-size-14 {
  font-size: 14pt;
}

.margin-left-right-50px {
  margin-left: 50px;
  margin-right: 50px;
}

.background-gray {
  background-color: #fafafa;
}

.justify-evenly {
  justify-content: space-evenly;
}

.padding-top-bottom-2rem {
  padding: 2rem 0;
}

.padding-top-bottom-3rem {
  padding: 3rem 0;
}

.padding-top-bottom-8rem {
  padding: 8rem 0;
}

.padding-top-1rem-bottom-2rem {
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.background-dark-gray {
  background-color: #525350;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.line-height-2rem {
  line-height: 2rem;
}

,
.line-height-3rem {
  line-height: 3rem;
}

.margin-right-9rem {
  margin-right: 9rem;
}

.position-absolute {
  position: absolute;
}

.align-items.center {
  align-items: center;
}

.margin-left-33px {
  margin-left: 33px;
}

.header-bottom-border {
  border-bottom: #e6e9ec solid 1px;
}

#contact-us {
  color: white;
}

.top-img-width-and-height {
  width: 1280px;
  max-height: 600px;
  object-fit: cover;
}

.margin-left-100px {
  margin-left: 100px;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-top-100px {
  margin-top: 100px;
}

.margin-50px {
  margin: 50px;
}

.margin-0 {
  margin: 0;
}

.max-width {
  max-width: 603px;
}

.font-size-16pt {
  font-size: 16pt;
}

.margin-top-30px {
  margin-top: 30px;
}

.margin-top-4rem {
  margin-top: 4rem;
}

.margin-bottom-4rem {
  margin-bottom: 4rem;
}

.position-relative {
  position: relative;
}

.background-color {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 1280px;
  height: 600px;

  /* bottom: 906px; */
  top: 153px;
}
